<nav class="navbar">
    <div class="logo">
      <a href="{% url 'home' %}">BloodOrbit</a>
    </div>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'register_donor' %}">Register Donor</a></li>
        <li><a href="{% url 'search_donors' %}">Search Donor</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'user_login' %}">Login</a></li>
      {% endif %}
    </ul>
    <span class="menu-icon" onclick="toggleMenu()">&#9776;</span>
  </nav>
  
  <script>
    // Toggle the mobile menu
    function toggleMenu() {
      document.querySelector('.navbar ul').classList.toggle('active');
    }
  </script>
  